
.cp{
    margin-left: 50px;
}

a {
    text-decoration: none;
    color: black;
    
}


.disable{
    display: block;
    overflow: scroll;
    height: 200px;
    width: 200px;
    border: 1px solid black;
}

.disable2{
    display: none;
}

.flex{
    display: flex;
}